
App/__pycache__/game.cpython-38.pyc
App/Score/Pop-danlovett.txt
App/Score/Pop.txt
Auth/__pycache__/auth.cpython-38.pyc
Auth/Inc/Login.txt
.vscode/settings.json
App/__pycache__/game.cpython-37.pyc
App/__pycache__/game.cpython-38.pyc
App/Score/Pop.txt
Auth/__pycache__/auth.cpython-37.pyc
Auth/__pycache__/auth.cpython-38.pyc
Auth/Inc/Login.txt
